<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Player</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Player :</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->
<form th:action="@{/addPlayer}"
      th:object="${playerForm}" method="POST">

    <label>ID:
        <input type="text" th:field="*{id}" />
    </label>
    <br/>

    <label>Name:
        <input type="text" th:field="*{name}" />
    </label>
    <br/>

    <label>Type:
        <input type="text" th:field="*{type}" />
    </label>
    <br/>
    <input type="submit" value="Create" />

    <br/>

    <!-- Check if errorMessage is not null and not empty -->

    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
        ...
    </div>
</form>

</body>
</html>