<!DOCTYPE HTML>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Player</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Player</h1>
<a href="/playerList">Return to player list</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        <tr>
            <td th:utext="${player.id}">...</td>
            <td th:utext="${player.name}">...</td>
            <td th:utext="${player.type}">...</td>
        </tr>
    </table>
</div>
</body>
</html>