<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Player</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update a Player :</h1>

<form th:action="|/update/${player.id}|"
      th:object="${playerForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}" th:placeholder="${player.name}">
    <input type="text" th:field="*{type}" th:placeholder="${player.type}">
    <input type="hidden" th:field="*{id}">
    <br/><br/>
    <input type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>